NET clk32 LOC="P94"  | IOSTANDARD=LVTTL | PERIOD=31.25ns;      # CLK
NET TX    LOC="P105" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW; # TX
NET test_signal_p  LOC = "P51" | IOSTANDARD = LVDS_33 | PERIOD=2.0ns;
NET test_signal_n  LOC = "P50" | IOSTANDARD = LVDS_33;